<form action="/landmarks" method="POST">
  <h3>Create a new Landmark</h3>
  <label>landmarks</label>
  <input type="text" id="landmark_name" name="landmark[name]"><br>

  <p>And a Landmark Year</p>
  <label>Year</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br>

  <!-- <p>Choose a Landmark</p>
  <label>Landmarks</label>
  <%Landmark.all.each do |landmark| %>
    <label><%=landmark.name%></label>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <%end%><br> -->
  
  <label><h4>Titles</h4></label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>

    <% end %>

  <p>Or Create a Title</p>
  <label>Title</label>
  <input type="text" id="new_title" name="title[name]"><br>

  <br><input type = "submit" value="Create New Landmark"><br>
</form>
