<form action="/figures/<%=@figure.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
  <h3>Edit a Figure</h3>

  <label>Figure</label>
  <input type="text" id="figure_name" name="figure[name]" value ="<%=@figure.name%>"><br>

  <p>Choose a Landmark</p>
  <label>Landmarks</label>
  <%Landmark.all.each do |landmark| %>
    <label><%=landmark.name%></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
  <%end%><br>

  <p>Or Edit a Landmark</p>
  <label>Landmark</label>
  <input type="text" id="new_landmark" name="landmark[name]"><br>
  <p>And a Landmark Year</p>
  <label>Year</label>
  <input type="text" name="landmark[year_completed]"><br>

  <label><h4>Titles</h4></label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>>
  <% end %><br>

  <p>Or Edit a Title</p>
  <label>Title</label>
  <input type="text" id="new_title" name="title[name]"><br>

  <br><input type = "submit" value="Edit Figure"><br>

</form>
